<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="/static/css/styleadmin.css" />
  </head>
  <body>
    <header>
      <h1>Panel de Administración</h1>
      <button id="logoutBtn">Cerrar Sesión</button>
     
      <a href="/" class="btn-home">Inicio</a>

    </header>

    <main>
      <section>
        <h2>Usuarios</h2>
        <div id="usuariosCrud">
  
        </div>
      </section>

      <section>
        <h2>Productos</h2>
        <div id="productosCrud">
         
        </div>
      </section>

      <section>
        <h2>Compras</h2>
        <div id="comprasCrud">
          
        </div>
      </section>
    </main>

    <script src="/static/js/admin.js"></script>
  </body>
</html>
